---
link_to_mastodon: false
link_to_twitter: true
tags_to_append: 2
post_media: true
mastodon:
  app_name: twitter-gateway
  api_base_url: https://mastodon.social
  user_base_url: https://mastodon.social/@username
  client_key: xx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  client_secret: xxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxx
  access_token: xxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

twitter:
  app_name: mastodon-gateway
  prefix: '@username@mastodon.social'
  consumer_key: xxxxxxxxxxxxxxxxxxxxxxxxx
  consumer_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  access_token: xxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  access_token_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

